{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/timeline.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m4 l8">
            <span class="date">2020</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">school</i>
                        <a href="/timeline" class="title">[edu] P G Diploma in Artificial Intelligence and Machine
                            Learning</a>
                    </div>
                    <span class="content">This program helps me in depth insights in:
                        Learn Classification Algorithms, Deep Learning, NLP, Reinforcement Learning, Graphical Models and Deployment Models. Create intelligent solutions such as Chatbots, Smart Games and Image Classifiers.
                        Participate in Hackathons and develop a portfolio of industry projects..
                    </span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">home</i>
                        <a href="/timeline" class="title">[life] Land in Patna, Bihar</a>
                    </div>
                    <span class="content">Bought 4083 sq ft of land in my native which is 5th property also facing Corona Virus lockdown period.
                    </span>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2019</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <a href="/timeline" class="title">[work] Philips, India</a>
                    </div>
                    <span class="content">1st prize as winner in Philips Hackathon, 2019 on Manufacturing and Sales Prediction Idea.<br><br>
                        I hired a full time Android Engineer and a Python webdev intern, and boy was it difficult. I've always stressed on a company is only as good as it's people, but it's an insanely difficult challenge to hire good engineers with the right mindset.
                    </span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">local_airport</i>
                        <a href="/timeline" class="title">[life] Hydrabad, India</a>
                    </div>
                    <span class="content">Enjoyed Hyderabad tour with family and collected many unforgettable memories in Ramoji film city.
                    </span>
                </li>

            </ul>

            <span class="date">2018</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <a href="/projects/philips" class="title">[hobby] Continue in Philips</a>
                    </div>
                    <span class="content">Continuing working in Philips and working of different Android common components and module which helps to build Apps in the Philips ecosystem. </span>
                </li>

            </ul>
            <span class="date">2017</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <a href="http://indrajitkumar.blogspot.com" class="title">[work] Philips India</a>
                    </div>
                    <span class="content">Won 2nd Hachathon price in the Pega environment in Philips </span>
                </li>
            </ul>
            <span class="date">2015-2016</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <a href="/projects/philips" class="title">[work] Philips India</a>
                    </div>
                    <span class="content"> Won 3rd Hachathon price in the Connected Coffee app which is operated by Alexa in Philips </span>
                </li>
            </ul>
            <span class="date">2014</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <a href="/projects/lifehacks" class="title">[work] Infinite Computer Solution Pvt. Ltd,
                            Bangalore</a>
                    </div>
                    <span class="content">I moved to Bangalore and joined in Philips Innovation Campus as Client from Infinite computer solution on 21 April, 2014. </span>
                </li>

            </ul>
            <span class="date">2013-2014</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <a href="/projects/dawebmail" class="title">[work] ShopClues</a>
                    </div>
                    <span class="content">My Job Responsibility to make android apps to provide service to customer and merchants both. Developed features such as:
                <ol>Search Simplified: Browse or Search for your favorite products by categories and brands.</ol>
                <ol>Favorites: Add products to your "Favorites" list to view or purchase it later.</ol>
                <ol>Ratings & Reviews: Make the right buying decision with the help of "Reviews and Ratings" on product
                    and sellers.
                </ol>
                <ol>Secure Payment: Multiple payment options - Cash on Delivery, Credit/Debit Card, EMI, Net Banking
                </ol>
                <ol>Sharing is Easier: Share the products you like with your Friends & Family.</ol>
                <ol>Instant Notifications: Be the first to know the best deals, offers & coupons available.</ol>
                <ol>My Account: View order details, track orders, CluesBucks, address book.</ol>
                </span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">android</i>
                        <a href="/projects?tags=android" class="title">[life] Blessed with baby boy</a>
                    </div>
                    <span class="content">Blessed with baby boy whose name is  <a
                            href="/projects/mohit_kid.jpg">Mohit Singh</a>.</span>
                </li>
            </ul>
            <span class="date">2012-2013</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">local_airport</i>
                        <span class="title">[life] Moved to Delhi </span>
                    </div>
                    <span class="content">I moved back to my Delhi and started living with my parents.</span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <span class="title">[job] Veddis Advisory, Gurgoan and RockASAP Pvt. Ltd., New Delhi</span>
                    </div>
                    <span class="content">I joined Veddis Advisory as a Software Engineer and worked on Game Development on Andengine qne worked on multiple projects using C/C++ (Marmalade SDK 5) , OpenGL- ES. After spending 5 months I joined RockASAP Pvt. Ltd as Sr. Software Engineer for the applicatioan development of EBook reader app.</span>
                </li>
            </ul>
            <span class="date">2010-12</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <span class="title">[job] Gameshastra, Hydrabad</span>
                    </div>
                    <span class="content"> I joined Gameshastra and worked as a Jr. Developer and builds many games and apps such as "Boy and His Blob", "Rangill Hills", "IIT Assessment", "CBSE PDF Reader".</span>
                    <span class="content"> I got married with Sapna Kumari and took promise to live together through out the life.</span>

                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">favorite</i>
                        <span class="title">[Marriage] New Delhi</span>
                    </div>
                    <span class="content"> I got married with Sapna Kumari and took promise to live together through out the life.</span>

                </li>
            </ul>
            <span class="date">2010 </span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">local_airport</i>
                        <span class="title">[life] Moved to Mumbai</span>
                    </div>
                    <span class="content">I moved to Mumbai and started working in small statup name Fortune Infotech Pvt. Ltd. and living struggling in Mumbai to full fill my dreams </span>
                </li>
            </ul>
            <span class="date">2008 and 2010</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">school</i>
                        <span class="title">[life] Moved to Symbiosis, Pune</span>
                    </div>
                    <span class="content">I cleared cutoff of SNAP exam and got admission in MSc(CA) from SICSR (Symbiosis Institute of Computer Studies and Research), Pune. </span>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
</div>

<!--<li><a href="/projects/" class="title">[]</a>
    <span class="content"></span></li>-->
{% endblock %}
